* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

.screen .status-bar {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.bubble-images {
  display: flex;
  justify-content: flex-end;
}

.bubble-images img,
.bubble-images .bubble__more {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-left: 7px;
}

.bubble-images .bubble__more {
  color: white;
  font-weight: bold;
  background-color: #3f67ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-comments {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.bubble-comments span {
  background-color: #dce3f9;
  color: #3f67ff;
  height: 25px;
  margin-right: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  padding: 4px 15px 27px 15px;
}

.travel__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travel__title span {
  font-size: 35px;
  font-weight: bold;
}
.travel__title .heart-box {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel__title i {
  color: red;
}

.travel__locate i {
  color: #305dff;
  font-size: 15px;
  margin-right: 2px;
}

.travel__locate span {
  font-size: 15px;
  opacity: 0.4;
}

.travel__star {
  width: 100%;
  position: relative;
}

.travel__star span {
  color: #ffbc00;
}

.travel__star .score {
  color: black;
  font-weight: bold;
  margin-left: 5px;
}

.travel__star .distance {
  color: black;
  opacity: 0.4;
  position: absolute;
  right: 0;
}

.travel__description {
  display: flex;
  flex-direction: column;
}

.travel__description .description__title {
  opacity: 0.4;
  font-size: 10px;
  font-weight: bold;
}

.travel__description .description__contents {
  opacity: 0.7;
}

.travel__description .description__end {
  color: #3f67ff;
  font-weight: bold;
}

.nav .nav__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
